#table-provider-orders {
	border: 1px solid #CCCCCC;
	visibility: hidden;
}

#table-provider-orders thead th:first-child,
#table-provider-orders tfoot th:first-child {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

.export-wrapper {
	display: block;
	margin: 20px 0;
	visibility: hidden;
}

.export-wrapper .export-input {
	margin: 0 5px;
	max-width: 70px;
}

.export-wrapper .export-button {
	margin-left: 5px;
	top: 0;
}

a.disabled,
input.disabled {
	opacity: .65;
	pointer-events: none;
}

.spinner-border {
	display: inline-block;
	width: 10px;
	height: 10px;
	vertical-align: text-bottom;
	border: .25em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: spinner-border .75s linear infinite;
	animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
	to {
		transform: rotate(360deg);
	}
}

#overlay {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}

#overlay .spinner-border {
	height: 50px;
	width: 50px;
}